.eduction{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10rem;
    margin-bottom: 20px;
}

.educ{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-right: 10px;
    background: white padding-box;
	box-shadow: 3px 4px 15px #0000001A;
	border-radius: 30px;
    width: 23%;
    height: 40%;
    margin-top: -40px;
}

.educ h2{
   padding-top: 20px;
   font-weight: bold;
   color: rgb(2, 95, 99);
   font-size: 25px;
}

.educ h5{
   font-weight: bold;
   color: gray;
   font-size: 15px;
}
.educ h4{
    margin-right: 15px;
}

.educ p {
    margin-left: 30px;
    text-align: justify;
}

#ed{
    font-size: 20px;
}