

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.home_details{
	width: 20%;
    color: #525c7b;
    margin-left: 60px;
    margin-top: 100px;
    height: 100%;
    
}
.home_detail{
    margin-left: 30px;
    margin-top: 70px;
}

.home_detail p{
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
}

.home_detail p span{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.home_detail p span:hover{
    color: darkcyan;
    font-weight: bold;
    font-size: 20px;
}

.home_detail h3{
    font-weight: bold;  
    font-size: 28px;
}
.home_detail h2{
    font-weight: bold;
    color:black;
    font-size: 37px;
}
.home_detail button{
    background-color: darkcyan;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 50px;
    
}
.home_detail button:hover{
    background-color:white;
    color: darkcyan;
    border-color: darkcyan;
}

.myphoto img{
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    box-shadow: 0 10px 6px -6px #777; 
}

.links img{
    width: 40px;
    height: 50px;
    margin-right: 15px;
    margin-bottom: 0;
    background-color:#F8F8F8;
}

body{
background-color:#F8F8F8;
    height: 400%;

}


.contact_home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

 .button1 #contact{
    border-radius: 50px;
    background-color:darkcyan;
    margin-right: 20px;
    margin-top: 30px;
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
 }

 .button1 #contact:hover{
    background-color:white;
    color: darkcyan;
    border-color: darkcyan;
 }
 .button2 #resume{
    border-radius: 50px;
    background-color: darkcyan;
    margin-top: 30px;
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
 }

 .button2 #resume:hover{
    background-color:white;
    color: darkcyan;
    border-color: darkcyan;
}