.exp{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10rem;
    margin-bottom: 50px;    
}

.experience{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-right: 10px;
    background:white padding-box;
	box-shadow: 3px 4px 15px #0000001A;
	border-radius: 30px;
    width: 23%;
    height: 10%;
    margin-top: -90px;
}

.experience h2{
   padding-top: 20px;
   font-weight: bold;
   color: rgb(2, 95, 99);
   font-size: 23px;
}

.experience h5{
    font-weight: bold;
    color: gray;
    font-size: 17px;
}

.experience p li{
    text-align: justify;
    list-style-type: none;
    margin-left: 50px;
}


#tech{
    font-weight: bold;
   color: rgb(2, 95, 99); 
}