.exp{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5rem;
    margin-bottom: 50px;    
}

.experience{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 20px;
    background:white padding-box;
	box-shadow: 3px 4px 15px #0000001A;
	border-radius: 30px;
    width: 23%;
    height: 10%;
}

.experience h2{
   margin-top: -25px;
   font-weight: bold;
   color: rgb(2, 95, 99);
   font-size: 25px;
}

.experience h5{
    font-weight: bold;
    color: gray;
    font-size: 17px;
    margin-bottom: 5px;
}

.experience h4{
    font-weight: bold;
    color:black;
    font-size: 20px;
}

.experience p li{
    text-align: justify;
    list-style-type: none;
    margin-left: 50px;
}


#tech{
    font-weight: bold;
   color: rgb(2, 95, 99); 
}

.experience_image img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}

