.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;

}


.header__contents{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 520px;
    margin-top: 50px;
    
}


.header__taps{
    margin-right: 35px;
    margin-bottom: 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
}


.header__contents :hover{
    color:darkcyan;
    /* cursor: pointer;
    border-radius: 10px;
    background-color: darkcyan; */

}